# Evaluacion diagnostico de git

Nombre: Brian Saavedra Lillo

NÃºmero de alumno: 17205670

Fecha: 28/03/2022

## Carga del dataset

In [3]:
import json
import pandas as pd

tweets = []
for line in open('farmers-protest-tweets-2021-03-5.json'):
    tweets.append(json.loads(line))

df = pd.DataFrame(tweets)

## Funciones

### 1.- Top 10 tweets con mas retweets

### 2.- Top 10 usuarios con mas tweets

In [18]:
from collections import Counter
def usuarios_mas_tweets(dataframe):
    return Counter([element['username'] for element in df['user'].values]).most_common(10)

df2= pd.DataFrame(usuarios_mas_tweets(df), columns = ['Usuario', 'Count'])
df2

           Usuario  Count
0  harjot_tweeting   7134
1    tasveersandhu   2091
2  shells_n_petals   1991
3           jot__b   1841
4    rebelpacifist   1806
5         rumsomal   1722
6      Iamjazzie96   1502
7         Jass_k_G   1460
8  DigitalKisanBot   1453
9    z_khalique007   1446

### 3.- Top 10 dias con mas tweets

### 4.- Top 10 hashtags mas usados