# Evaluacion diagnostico de git

Nombre: Brian Saavedra Lillo

NÃºmero de alumno: 17205670

Fecha: 28/03/2022

## Carga del dataset

In [1]:
import json
import pandas as pd

tweets = []
for line in open('farmers-protest-tweets-2021-03-5.json'):
    tweets.append(json.loads(line))

df = pd.DataFrame(tweets)

## Funciones

### 1.- Top 10 tweets con mas retweets

### 2.- Top 10 usuarios con mas tweets

### 3.- Top 10 dias con mas tweets

In [16]:
from collections import Counter
def dias_con_mas_tweets(dataframe):
    return Counter([element.split("T")[0] for element in dataframe['date'].values]).most_common(10)

df3 = pd.DataFrame(dias_con_mas_tweets(df), columns=['Dia', 'Count'])
df3

            0      1
0  2021-02-03  83866
1  2021-02-04  58607
2  2021-02-05  33332
3  2021-02-02  28548
4  2021-02-06  22420
5  2021-02-07  11325
6  2021-02-09   9320
7  2021-02-08   8920
8  2021-02-10   7973
9  2021-02-11   5698

### 4.- Top 10 hashtags mas usados